/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Zack Zhao
   Date:   2022-10-08

   Filename: cg_validate.css

*/


/* Validation Styles */

input:focus, select:focus, textarea:focus {
   background-color: rgb(245, 245, 140)
   }
   
input#fnBox:focus:valid,
input#lnBox:focus:valid,
input#addBox:focus:valid,
input#mailBox:focus:valid,
input#phoneBox:focus:valid,
input#idBox:focus:valid {
   background-color: rgb(220, 255, 220) url(cg_valid.png) right/contain no-repeat;
   }
   
input#fnBox:focus:invalid,
input#lnBox:focus:invalid,
input#addBox:focus:invalid,
input#mailBox:focus:invalid,
input#phoneBox:focus:invalid,
input#idBox:focus:invalid {
   background-color: rgb(255, 232, 232) url(cg_invalid.png) right/contain no-repeat;
   }
